<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#goals"> All Goals (2009-2019)</a></li>
    <li><a data-toggle="tab" href="#shots">All Shots (2009-2019)</a></li>
    <li><a data-toggle="tab" href="#avsgive">Avs Giveaways (2017-2018)</a></li>
    <li><a data-toggle="tab" href="#avstake">Avs Takeaways (2017-2018)</a></li>
  </ul>
   <div class="tab-content">
    <div id="goals" class="tab-pane fade in active">
         <iframe style="width:80%;height:80%;border:0;overflow:hidden;" src="//plot.ly/~dtemkin/124.embed"></iframe>
    </div>
    <div id="shots" class="tab-pane fade">
          <iframe style="width:80%;height:80%;border:0;overflow:hidden;" src="//plot.ly/~dtemkin/122.embed"></iframe>
    </div>
    <div id="avsgive" class="tab-pane fade">
      <iframe style="width:80%;height:80%;border:0;overflow:hidden;" src="//plot.ly/~dtemkin/227.embed"></iframe>
    </div>
    <div id="avstake" class="tab-pane fade">
      <iframe style="width:80%;height:80%;border:0;overflow:hidden;" src="//plot.ly/~dtemkin/223.embed"></iframe>
    </div>
  </div>
</div>

