	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">About</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
						<h4>{{ site.title }}</h4>
						<p>{{ site.description }}</p>
					</li>
					<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">Learn More</span></a></li>
					{% if site.email %}<li>
                        <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i> Email</a>
                    </li>{% endif %}
                    {% if site.twitter %}<li>
                        <a href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>
                    </li>{% endif %}
                    {% if site.linkedin %}<li>
                        <a href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>
                    </li>{% endif %}
                    {% if site.github-url %}<li>
                        <a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i> Github</a>
                    </li>{% endif %}
                    {% if site.stackoverflow %}<li>
                        <a href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-stack-overflow"></i> StackOverflow</a>
                    </li>{% endif %}
                    {% if site.codepen %}<li>
                        <a href="http://codepen.io/{{ site.codepen }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-codepen"></i> Codepen</a>
                    </li>{% endif %}
                    {% if site.keybase %}<li>
                        <a href="https://keybase.io/{{ site.keybase }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-key"></i> Keybase</a>
                    </li>{% endif %}
                    {% if site.xmpp %}<li>
                        <a href="xmpp:{{ site.xmpp }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-lightbulb-o"></i> XMPP</a>
                    </li>{% endif %}
                    {% if site.hackernews %}<li>
                        <a href="https://news.ycombinator.com/user?id={{ site.hackernews }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-hacker-news"></i> Hacker News</a>
                    </li>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
			<li>
				<a href="#">Projects</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/projects/">All Projects</a></li>
					<li><a href="{{ site.url }}/tags/">Find By Tag</a></li>
				</ul>
			</li>
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'https' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
