
<div id="b9cd025f-b19d-4944-8ae6-fd6c5621d430" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
<script type="text/javascript">
    (function(){
        window.PLOTLYENV={'BASE_URL': 'https://plotly.com'};

        var gd = document.getElementById('b9cd025f-b19d-4944-8ae6-fd6c5621d430')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }




        Plotly.plot(gd, {
            data: [{"name": "Observed", "type": "bar", "xsrc": "justdantastic:66:130567", "x": [4.0, 3.0, 2.5, 2.0, 3.5, 1.0, 1.5, 0.0, 0.5], "ysrc": "justdantastic:66:b72e32", "y": ["175", "570", "243", "326", "259", "94", "167", "11", "24"], "opacity": 0.7}, {"name": "Measured", "type": "bar", "xsrc": "justdantastic:66:130567", "x": [4.0, 3.0, 2.5, 2.0, 3.5, 1.0, 1.5, 0.0, 0.5], "ysrc": "justdantastic:66:c6887b", "y": ["281", "489", "471", "311", "89", "150", "1", "51", "18", "8"], "opacity": 0.7}],
            layout: {"title": "Star Ratings Frequency Distributions", "xaxis": {"title": "Star Rating"}, "yaxis": {"title": "Count"}, "barmode": "overlay"},
            frames: [],
            config: {"showLink": true, "linkText": "Export to plotly.com", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
        });

   }());
</script>
