<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script>
    var tab_width = document.getElementByClassName('container').clientWidth;
    var tab_height = document.getElementByClassName('container').clientHeight;
</script>

<div class="container">
  <ul class="nav nav-tabs">
      <li class='active'><a data-toggle="tab" href="#goals">All Goals (2009-2019)</a></li>
      <li><a data-toggle="tab" href="#shots">All Shots (2009-2019)</a></li>
      <li><a data-toggle="tab" href="#avsgive">Avs Giveaways (2017-2018)</a></li>
      <li><a data-toggle="tab" href="#avstake">Avs Takeaways (2017-2018)</a></li>
  </ul>
   <div class="tab-content">
       <div id="goals" class="tab-pane fade active in">
           <script>reloadByID('goals')</script>
            {% include '/static/sports/nhl/nhl_goals.html' %}
       </div>
       <div id="shots" class="tab-pane fade">
           <script>reloadByID('shots')</script>
           {% include "/static/sports/nhl/nhl_shots.html" %}
       </div>
       <div id="avsgive" class="tab-pane fade">
           <script>reloadByID("avsgive")</script>
           {% include "/static/sports/nhl/avs_giveaways_1718.html" %}
       </div>
       <div id="avstake" class="tab-pane fade">
           <script>reloadByID("avstake")</script>
           {% include "/static/sports/nhl/avs_takeaways_1718.html" %}
       </div>
  </div>
</div>

