<div id="wordFreqTable"></div>
<script type="application/javascript">
    var freqdata = [{"word": "customer", "count": 3288, "frequency": 0.030819991751340408}, {"word": "business", "count": 1040, "frequency": 0.009748415882419106}, {"word": "service", "count": 1040, "frequency": 0.009748415882419106}, {"word": "time", "count": 856, "frequency": 0.008023696149375726}, {"word": "company", "count": 712, "frequency": 0.006673915488733081}, {"word": "product", "count": 704, "frequency": 0.006598927674252934}, {"word": "grow", "count": 664, "frequency": 0.006223988601852199}, {"word": "price", "count": 640, "frequency": 0.005999025158411758}, {"word": "seller", "count": 616, "frequency": 0.005774061714971317}, {"word": "sale", "count": 608, "frequency": 0.00569907390049117}]
    var tab = new Tabulator("#wordFreqTable", {
        height: '300px',
        data: freqdata,
        layout:"fitColumns",
        columns: [
            {title: "Word", field: "word", align: "left"},
            {title: "Count", field: "count", align: "left"},
            {title: "Frequency", field: "frequency", align: "left"}
        ]
    });
</script>
